.container-1,.container-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 18px black;

}

.box-1,.box-2,.box-3,.box-4,.box-5,.box-6{
    border: 1px solid black;
    background-color: white;
    height: 230px;
    width: 280px;
    font-size:smaller;
}

.fa-paintbrush,.fa-flag,.fa-headphones,.fa-face-smile,.fa-globe,.fa-docker{
    margin-left:170px;
    font-size: large;
}

.h1{
    color: black;
    text-align: center;
    background-color:white;
    box-shadow: 0 6px 10px black;
    border-radius: 15px;
    text-shadow: 1px 1px 15px rgb(136, 79, 5);
}
